h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
}

#bookLogs {
    background-color: yellowgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bookDisplay {
    background-color: red;
    width: 200px;
    height: auto;
    margin: 20px;
}

.remove {
    background-color: yellow;
}