* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Young Serif', serif;
    font-size:  20rem;
    text-align: center;
    margin: 0;
    color: #2e2e2e;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Onest', sans-serif;
    font-size: 1rem;
    background-color: #eae5d9;
}

#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}

.warningDiv {
    position: absolute;
    width: 800px;
    height: 200px;
    display: none;
    border-radius: 10px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #eae5d9;
}

.formWarning {
    text-align: center;
    color: #2e2e2e;
}

.form-line {
    display: block;
  }

  .form-line:first-child {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 20px; 
  }

  .form-line:last-child {
    margin-top: 8px; 
  }

#submitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

}

#submitBook {
    padding: 0;
    border: none;
    background: none;
    font: inherit;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
    padding-right: 30px;
}

input {
    width: 500px;
    border: none; 
    outline: none;
    background: transparent; 
    padding: 0;
    margin: 0;
    color: #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
    font-size: inherit;
}

label {
    color: #2e2e2e;
}


.labelContainer {
    width: 140px;
    text-align: right;
    margin-right: 30px;
}

.optionBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#bookLogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: auto;
    margin-bottom: 20px;
}

.bookDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f25130;
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.bookDisplay:hover {
    background-color: #3b73c2f2;
}


.remove {
    width: 100px;
    border: none;
    padding: 5px;
    background-color: #2e2e2eff;
    color: #eae5d9;
    border-radius: 5px;
}

.statusButtons {
    background-color: transparent;
    color: #2e2e2eff;
    width: 100px;
    margin-top: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.statusButtons:hover, .remove:hover {
    cursor: pointer;
}

.userTitle {
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    margin: 0;
    color: #2e2e2e;
}

.bookInfoSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.buttonSide {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 50%;
    padding-left: 20px;
}

.userExtraInfo {
    margin: 3px;
}

#totalBooksContainer {
    width: 95vw;
}